* {
	margin: 0;
	padding: 0;
}

/*-----HTML5 pod stare wyszukiwarki------*/

header, nav, footer {
	display: block;
}

/*---------------------------------------*/

body {
    font-family: 'PT Sans', sans-serif !important;
    background-color: #ffffff;
	font-size: 62.5%;
	color: #37474F;
    font-size: 0.9em;
}

/* STRONA LOGOWANIA */



/* PANEL ADMIN */

.admin-header {
	width: 100%;
	height: auto;
	background-color: #FFFFFF;	
}

.atop-bar {
	height: 30px;
	width: 1000px;
	margin: 0 auto;
}

.atop-bar ul {
	float: right;
}

.atop-bar ul li {
	list-style: none;
	display: inline-block;
	padding: 0 15px;
    margin: 0;
    border-right: 1px #4b4b4b dotted;
    list-style: none;
    height: 28px;
    line-height: 28px;
	font-size: 0.8em;
}

.atop-bar ul li a {
	text-decoration: none;
	color: #4C4C4C;
}

.atop-bar ul li a:hover {
	font-weight: bold;
}

.ahead-wrap {
	border-bottom: 1px #c0c0c0 solid;
    border-top: 1px #c0c0c0 solid;
	width: 100%;
	height: 78px;
	background-color: #eaebed;
}

.ahead-center {
	width: 1000px;
	margin: 0 auto;
	background-color: #FFFFFF;	
	position: relative;
}

.alogo {
	position: absolute;
	margin-top: 10px;
	height: 55px;
	width: auto;
}

a span.azikit-title,
.azikit-title {
    font-size: 1.6em;
    font-weight: bold;
	position: absolute;
	margin: 20px 0px 0px 132px;
	color: #37474F;
	text-decoration: none;
}

.header-bottom {
	height: 24px;
	border-bottom: 1px #c0c0c0 solid;
	background-color: #FFFFFF;	
	margin-top: 80px;
}

#awrapper {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	background-color: #FFFFFF;
}

#amap-box {
	position: relative;
	width: 100%;
	height: 577px;
	margin-top: 12px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0px 0px 4px 1px rgba(99,99,99,1);
	-moz-box-shadow: 0px 0px 4px 1px rgba(99,99,99,1);
	box-shadow: 0px 0px 4px 1px rgba(99,99,99,1);
}

.aprzycisk {
	width: 105px;
	height: 30px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	color: #FFFFFF;
	text-align: center;
}

.aprzycisk span {
	line-height: 30px;
	font-size: 11px;
}

#anowy {  
	margin: 12px 0px 0px 12px;
    background-color: #537E08;	
	z-index: 100;
}

#anowy:hover {	 
    background-color: #476E02;
	cursor: pointer;
	
-webkit-box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
-moz-box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
}

#acofnij {	
	margin: 12px 0px 0px 129px;
    background-color: #DE9135;
	z-index: 101;
}

#acofnij:hover {  	
    background-color: #DD8419;
	cursor: pointer;
	
-webkit-box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
-moz-box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
}

#awstaw {	
	margin: 12px 0px 0px 246px;
    background-color: #24426B;
	z-index: 108;
}

#awstaw:hover {  	
    background-color: #103363;
	cursor: pointer;
	
-webkit-box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
-moz-box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
}

#azapisz {
	margin: 12px 0px 0px 363px;	
    background-color: #9C2D2D;
	border: none;
	position: absolute;
	z-index: 102;
}

#azapisz:hover {
	background-color: #A30A0A;
    cursor: pointer;

-webkit-box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
-moz-box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
}



#aform {
	/* background-color: #B7C5C9; */
	width: 456px;
	height: 400px;
	position: absolute;
	margin: 65px 0px 0px 12px;
}

#aform p {
    font-weight: bold;
    padding: 3px;
    width: 440px;
    height: 14px;
    margin-top: 0px;
    margin-bottom: 7px;
}


#aform input {
	background-color: #FFFFFF;
	height: 30px;
	width: 446px;
	padding-left: 10px;
	font-size: 1em;
	border-radius: 5px;
	border: 1px #c0c0c0 solid;
}

#atyp {
	width: 455px;
    height: 121px;
	background-color: #FFFFFF;
	position: relative;
	margin-left: 4px;
	margin: 0 auto;
}

div.aznak {
	width: 91px;
	height: 121px;
    position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

div.aznak:nth-child(2) { margin-left: 91px; }
div.aznak:nth-child(3) { margin-left: 182px; }
div.aznak:nth-child(4) { margin-left: 273px; }
div.aznak:nth-child(5) { margin-left: 364px; }

div.iznak {
	width: 87px;
	height: 119px;
	border-radius: 5px;
	border: 1px #c0c0c0 solid;
	position: relative;
}


.iznak-on-hover {
    font-weight: bold;
	background-color: #DEDEDE;
	cursor: pointer;
}

.iznak-active,
.iznak-on-hover.iznak-active {
	background-color: #808080;
	color: #FFFFFF;
}

div.iznak img {
	width: 62px;
	height: auto;
	margin-top: 4px;
}

div#zinwestycje img {
	margin-top: 2px;	
}

.ipodpis {
	position: absolute;
	width: 78px;
	border-radius: 5px;
	border: 1px #c0c0c0 solid;
	top: 68px;
	margin-left: 4px;
	font-size: 11px;
}

.onel {
    padding-top: 15px;
    height: 31px;
}

.zml {
    height: 38px;
    padding-top: 8px;	
}

.tl {
    padding-top: 1px;
    height: 45px;	
}

.adaty {
	height: 30px;
    width: 456px;
	position: relative;
}

input.date1 {
	width: 210px !important;
	position: absolute;
}

input#termin_od {
	top: 0;
	left: 0;
}

input#termin_do {
	top: 0;
	right: 0;
}

#aform textarea {
	padding-left: 10px;
	font-size: 1.2em;
	font-family: 'PT Sans', sans-serif;
	border-radius: 5px;
	border: 1px #c0c0c0 solid;
    line-height: 35px;	
	flex-direction: unset;
	width: 446px;
	height: 150px;
	resize: none;
}


#map {
	position: absolute;
	width: 507px;
	height: 553px;
	top: 12px;
	right: 12px;
	border-radius: 5px;
	
-webkit-box-shadow: 0px 0px 3px 1px rgba(99,99,99,1);
-moz-box-shadow: 0px 0px 3px 1px rgba(99,99,99,1);
box-shadow: 0px 0px 3px 1px rgba(99,99,99,1);	
}

#content {
	width: 200px;
	height: 200px;
	overflow: scroll;
}

.tabela-box {
    position: relative;
	width: 970px;
	height: auto;
	margin: 25px 0px 100px 0px;
	padding: 12px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0px 0px 4px 1px rgba(99,99,99,1);
	-moz-box-shadow: 0px 0px 4px 1px rgba(99,99,99,1);
	box-shadow: 0px 0px 4px 1px rgba(99,99,99,1);
}

.tab {
	width: 970px;
}

th {
	padding: 5px;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

td {
	padding: 5px;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	height: 90px;
}

.guzik-tab {
	height: 35px;
	width: 35px;
	border-radius: 5px;
}

.usun-z-tab {
	background-color: #9C2D2D;
}

.usun-z-tab:hover {
	background-color: #A30A0A;
	
-webkit-box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
-moz-box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
}

.edyt-z-tab {
	background-color: #537E08;
}

.edyt-z-tab:hover {
	background-color: #476E02;
	
-webkit-box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
-moz-box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
box-shadow: 0px 0px 2px 1px rgba(99,99,99,1);
}

.guzik-tab img {
	width: 25px;
	height: 25px;
	margin: 5px;
}

td {
	text-align: center;
}

td.id-tab {
	width: 25px;
}

td.typ-tab {
	width: 80px;
}

td.tytul-tab {
	font-weight: bold;
	width: 125px;
}

td.adres-tab {
	width: 110px;	
}

td.data-tab {
	width: 80px;
}




/* STRPNA GŁÓWNA - WIDOK UŻYTKOWNIKÓW */


.bhead-center {
	width: 97%;
    padding-left: 2%;	
}

#bwrapper {
	width: 100%;
	height: 724px;
	margin: 0 auto;
	position: relative;
}

#b-box {
	position: absolute;
	width: 474px;
	height: 238px;
	margin-top: 38px;
	margin-left: 12px;
	border-radius: 5px;
	background-color: #FFFFFF;
	
	-webkit-box-shadow: 0px 0px 4px 1px rgba(99,99,99,1);
	-moz-box-shadow: 0px 0px 4px 1px rgba(99,99,99,1);
	box-shadow: 0px 0px 4px 1px rgba(99,99,99,1);
}


#btyp {
    width: 453px;
    height: 121px;
    background-color: #FFFFFF;
    position: relative;
    margin: 0 auto;
}

.g-line {
	width: 466px;
	height: 40px;
	top: 0;
	left: 0;
    margin: 182px 0px 0px 4px;
    position: absolute;
}

.g-button {
    display: inline-block;
    height: 33px;
    width: 61px;
    border: 1px #c0c0c0 solid;
    border-radius: 5px;
    text-align: center;
    padding-top: 12px;
}

.g-button:first-child {
	margin-left: 1px;
}

p.g-p {
	line-height: 30px;
	padding-left: 20px;
	font-weight: bold;
}

#gmap {
	position: absolute;
	width: 100%;
	height: 699px;
	top: 26px;
	left: 0;
}




#footer-top {
    background-color: #6F787C;
    height: 72px;
    line-height: 72px;
	text-align: center;
	border-top: 1px #c0c0c0 solid;
}

#footer-bottom {
	background-color: #61696C;
    height: 40px;
    line-height: 40px;
	text-align: center;
}

#footer-top img {
    padding-right: 12px;
    padding-left: 12px;
	vertical-align: middle;
}

#footer-bottom a,
#footer-bottom a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

@media (max-width: 1100px) {
	
	/* STRONA GŁÓWNA: */

.ahead-wrap {
    width: 100%;
    height: 58px;
	border-top: 1px solid #FFFFFF;
}

.atop-bar {
	display: none;
}
	
.alogo {
	height: 45px;
	margin-top: 5px;
}
	
	
a span.azikit-title,
.azikit-title {
    font-size: 1.4em;
    font-weight: bold;
	position: absolute;
	margin: 13px 0px 0px 105px;
	color: #37474F;
	text-decoration: none;
}

#b-box {
	height: 97px;
    border-radius: none;
    margin-top: 3px;
	left: 50%;
	margin-left: -237px;
	

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
}
.header-bottom {
    height: 83px;
}

#gwybierz-info, #g-dzien {
	display: none;
}

#btyp {
	height: 47px;
	width: 327px;
	
}

div.aznak {
    width: 63px;
    height: 47px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

div.aznak:nth-child(2) { margin-left: 66px;  }
div.aznak:nth-child(3) { margin-left: 132px; }
div.aznak:nth-child(4) { margin-left: 198px; }
div.aznak:nth-child(5) { margin-left: 264px; }

div.iznak {
    height: 45px;
    width: 61px;
    text-align: center;
}

div.iznak img {
    width: 40px;
    height: auto;
    margin-top: 2px;
}

div#zinwestycje img {
    margin-top: 0px;
}

.ipodpis {
	display: none;
}

.g-line {
	position: absolute;
    margin: 51px 0px 0px 6px;
}	

#gmap {
    height: 619px;
    top: 105px;
}

/* EKRAN ADMINISTRATORA - TABLET */

#atyp {
    height: 48px;
}

#amap-box {
    height: 510px;
}

#map {
	height: 481px;
}
	
}

@media (max-width: 760px) {
	
	a span.azikit-title, .azikit-title {
		display: none;
	}
	
	.alogo {
		left: 50%;
		margin-left: -46px;
	}
	
}

@media (max-width: 500px) {

	.g-line {
	    width: 328px;
		left: 50%;
		margin-left: -164px;
	}
	
	.g-button {
		width: 41px;
	}
	
	
}
